html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}

.text-outline {
  color: inherit;

  /* stroke (border) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentColor;

  /* fill huruf transparan, tapi stroke tetap kelihatan */
  -webkit-text-fill-color: transparent;
}

.line-clamp-2-custom {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
