html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}

canvas {
  pointer-events: none;
}
* {
  pointer-events: none;
}

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.7) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.animate-fade-in-scale {
  animation: fade-in-scale 1s ease-out forwards;
}

.text-outline {
  color: inherit;

  /* stroke (border) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentColor;

  /* fill huruf transparan, tapi stroke tetap kelihatan */
  -webkit-text-fill-color: transparent;
}

.line-clamp-2-custom {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
